config*
.settings/
target/
artifacts/
.classpath
.DS_Store
*.iml
resources/
.project
automation.*
conf/automation.*
*.out
*.log
.factorypath
.apt_generated
.credentials/
.sonarlint/
.metadata/
.idea
*.iml